:root {
    --primary-white: #fff;
    --primary-black: #000;
    --primary-grey: #73739a;
    --primary-blue: #6d72f6;
    --primary-green: #08ce8a;
    --primary-black2: #1c1c57;
  }
  
  .contact-us-container {
    background: var(--primary-white);
    font-family: Arial, sans-serif;
  }
  
