:root {
  --primary-white: #fff;
  --primary-black: #000;
  --primary-grey: #73739a;
  --primary-blue: #6d72f6;
  --primary-green: #08ce8a;
  --primary-black2: #1c1c57;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 40px;
}

.service-card {
  background-color: #ffffffad;
  border-radius: 8px;
  border: 1px solid #ffffff80;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  background-size: 800px;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(./Image/Ellipse\ 41.webp);
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-card .image-wrapper img{
  width: 100%;
  max-width: 90px;
  margin-bottom: 14px;
}

.service-card .title {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-black2);
  margin-bottom: 10px;
}

.service-card .description {
  font-size: 16px;
  color: var(--primary-grey);
}


@media (max-width: 1024px){
  .services-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px){
  .services-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px){
  .services-container{
    padding: 40px 20px;
  }
}