.api-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.api-details h2 {
  font-weight: 500;
}

.custom-underline {
  background-color: #635ad9;
  width: 60px;
  height: 2px;
  margin-top: 5px;
}

.header-div {
  position: absolute;
  width: 100%;
  height: 350px;
  top: 0;
  left: 0;
  background-color: #17012c;
  padding: 0;
  z-index: 1000;
  overflow: hidden;
}

.header {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header > div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.advantage-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 18px 0;
}

.advantage-container-two {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px 0;
}

.advantage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.advantage > span {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.advantage > span > span:first-child {
  display: flex;
  align-items: center;
}

.advantage-two {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.advantage-two > span {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.advantage-two > span > span:first-child {
  display: flex;
  align-items: center;
}

.advantage-two > span > .title-desc-container {
  display: inline;
}

.advantage-two > span .title-text {
  font-weight: 600;
  margin-right: 0.25rem;
}

.check-icon {
  width: 16px;
  height: 16px;
  color: red;
}

.launch-desc {
  margin-top: 4rem;
}

.launch-desc h2 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.main-container {
  width: 100%;
  display: flex;
  gap: 2rem;
}

/* Travel API Page */
.travel-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.travel-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 372px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.travel-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* DMT Page */
.dmt-container {
  height: 100%;
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.dmt-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

/* BBPS CSS */
.bbps-first-div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.bbps-two-div {
  /* background-color: #ECF8FF; */
  /* padding: 1rem; */
  border-radius: 8px;
  margin: 4rem 0 4rem 0;
  /* margin-top: 1.75rem; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bbps-details {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.bbps-links {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  /* justify-content: center; */
}

.bbps-links a {
  color: #635ad9;
  text-decoration: none;
}

.logo {
  width: 42px;
  height: 42px;
}

/* Payout API CSS */
.contact-buttons {
  margin-top: 20px;
}
.contact-buttons button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact-buttons button:hover {
  background-color: #0056b3;
}

.payout-div-one {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 2rem;
}

.offbit {
  background-color: rgb(245, 244, 244);
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 8px;
  margin: 4rem 0 4rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}
.inner-offbit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offbit img {
  width: 8rem;
  height: 8rem;
}

.offbit p {
  text-align: center;
  font-weight: 600;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.counter-wrap,
.ct-heading,
.sec-title4,
.service-wrap.style3 .container {
  position: relative;
  z-index: 1;
}

.bg-rock,
.process .item .cont:hover {
  background-color: #635ad9;
  padding: 1rem;
  border-radius: 12px;
}

.ptb-100 {
  padding-top: 40px;
  padding-bottom: 70px;
}

.service-wrap.style3 .container .service-shape-one {
  position: absolute;
  top: 100px;
  right: -10px;
  z-index: -1;
}
.service-wrap.style3 .container .service-shape-two {
  position: absolute;
  bottom: 100px;
  left: -35px;
  z-index: -1;
}

.serviceBox-payout {
  color: #635ad9;
  font-family: "Zen Maru Gothic", sans-serif;
  text-align: center;
  padding: 30px 35px 40px;
  border-radius: 0 80px;
  border: 2px dashed #fff;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}
.serviceBox-payout:before {
  content: "";
  background: #fff;
  border-radius: 0 70px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  top: 50%;
  left: 50%;
  z-index: -1;
}
.serviceBox-payout .service-icon {
  font-size: 45px;
  margin: 0 auto 15px;
}
.serviceBox-payout .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 12px;
}
.serviceBox-payout .description {
  color: #444;
  font-size: 14px;
  line-height: 22px;
}
.serviceBox-payout.yellow {
  color: #d38a0c;
  border-color: #d38a0c;
}
.serviceBox-payout.yellow:after {
  background-color: #d38a0c;
  height: 130px;
  width: 100px;
  border-radius: 0 0 0 80px;
  top: auto;
  bottom: -9px;
}
.serviceBox-payout.purple {
  color: #8455d0;
  border-color: #8455d0;
}
.serviceBox-payout.purple:after {
  background-color: #8455d0;
  top: auto;
  bottom: -9px;
  left: auto;
  right: -9px;
}
.serviceBox-payout.red {
  color: #cd4b4c;
  border-color: #cd4b4c;
}
.serviceBox-payout.red:after {
  background-color: #cd4b4c;
  width: 100px;
  height: 130px;
  border-radius: 0 85px 0 0;
  left: auto;
  right: -9px;
}

.section-title-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Responsive grid with a minimum column size */
  gap: 2rem;
  /* padding: 1rem; */
}

.section-title h2 {
  text-align: center;
  color: white;
  padding: 2rem 0 2rem 0;
}

.main-why-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0 2rem 0;
}

.why-img-div {
  width: 100%;
  height: 100%;
}

.why-img-div img {
  width: 100%;
  height: auto;
}

.why-option-div {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.why-btn-div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.why-btn-div-button {
  background-color: white;
  border: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0.5rem;
}

.why-btn-div-active-button {
  background-color: #635ad9;
  color: white;
  border: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 8px;
}

.why-line {
  width: 1px;
  height: 100%;
  background-color: gray;
}

/* Pan Card Page CSS */
.pan-header-card-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.pan-card-div-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0 3rem 0;
}

.pan-card-div-one-rev {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0 3rem 0;
}

.img-div img {
  width: 100%;
  height: auto;
}

.pan-card-main-header p {
  padding: 0.5rem 0 0.5rem 0;
  font-size: 14px;
}

@media only screen and (max-width: 990px) {
  .serviceBox {
    margin: 0 0 30px;
  }
  .serviceBox-payout {
    margin: 0 0 30px;
  }
}

@media (min-width: 640px) {
  .advantage-container {
    flex-direction: row;
  }
  .dmt-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .bbps-details {
    flex-direction: row;
  }
  .section-title-grid {
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
  .advantage-container-two {
    flex-direction: row;
  }
  .dmt-container {
    flex-direction: row;
  }
  .bbps-first-div {
    flex-direction: row;
  }
  .payout-div-one {
    flex-direction: row;
  }
  .bbps-two-div {
    flex-direction: row;
  }
  .main-why-div {
    flex-direction: row;
  }
  .pan-card-div-one {
    flex-direction: row;
  }
  .pan-card-div-one-rev {
    flex-direction: row;
  }
}

@media (min-width: 1536px) {
}
