:root {
    --primary-white: #fff;
    --primary-black: #000;
    --primary-grey: #73739a;
    --primary-grey2: #f5f5f5;
    --primary-blue: #6d72f6;
    --primary-green: #08ce8a;
    --primary-black2: #1c1c57;
}

.SubscribePopups-popup-modal {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    z-index: 99999;
    overflow: hidden; 
}

.SubscribePopups-popup-modal::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    background: radial-gradient(circle, rgba(109, 114, 246, 0.6), transparent 60%);
    animation: floatingGlow 6s infinite alternate ease-in-out;
    top: -50%;
    left: -50%;
    z-index: -1;
}

.SubscribePopups-popup-modal::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(8, 117, 206, 0.6);
    border-radius: 50%;
    animation: floatCircle 8s infinite ease-in-out;
    top: 20%;
    right: 15%;
    z-index: -1;
}

.SubscribePopups-popup-modal-content {
    background: linear-gradient(to bottom, #E3E4FF 80%, #8084FF 100%);
    backdrop-filter: blur(1px);
    padding: 30px 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 10px 20px;
    animation: slideInFromTop 0.8s ease-out; 
}

.SubscribePopups-popup-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 22px;
    transition: 0.3s linear;
}

.SubscribePopups-popup-close-btn:hover {
    color: #ff0000;
}

.SubscribePopups-popup-title-box {
    margin: 24px 0 30px 0;
}

.SubscribePopups-popup-inp-box {
    gap: 12px;
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
}

.SubscribePopups-popup-inp-box input {
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 22px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.SubscribePopups-popup-icon-box{
    position: relative;
}

.SubscribePopups-popup-icon-box input{
    padding-left: 35px;
}

.SubscribePopups-popup-icon-box svg{
    position: absolute;
    top: 12px;
    left: 12px;
    color: var(--primary-blue);
}

.SubscribePopups-popup-inp-box-2{
    display: flex;
    gap: 10px;
}

.SubscribePopups-popup-inp-min-box{
    flex: 1 1 100%;
}

.SubscribePopups-popup-inp-box-2 label{
    font-size: 12px;
}

.SubscribePopups-popup-btn-box {
    text-align: center;
}

.SubscribePopups-popup-btn-box button {
    border: none;
    cursor: pointer;
    padding: 16px 2rem;
    border-radius: 30px;
    transition: 0.3s linear;
    color: var(--primary-white);
    background-color: var(--primary-blue);
}

.SubscribePopups-popup-btn-box button:hover {
    box-shadow: 0px 0px 6px #494edd;
}

/* Animation from the top */
@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0.8;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Keyframes for glowing background */
@keyframes floatingGlow {
    0% {
        transform: scale(1) translate(0, 0);
        opacity: 0.8;
    }
    100% {
        transform: scale(1.5) translate(10%, 10%);
        opacity: 0.4;
    }
}

/* Keyframes for floating circle */
@keyframes floatCircle {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 0.6;
    }
    50% {
        transform: translateY(-30px) translateX(20px);
        opacity: 0.8;
    }
    100% {
        transform: translateY(0) translateX(0);
        opacity: 0.6;
    }
}

@media (max-width: 480px){
    .SubscribePopups-popup-title-box h2{
        font-size: 18px;
    }
    .SubscribePopups-popup-inp-box-2{
        flex-direction: column;
    }
}