:root {
    --primary-white: #fff;
    --primary-black: #000;
    --primary-grey: #73739a;
    --primary-grey2: #f5f5f5;
    --primary-blue: #6d72f6;
    --primary-green: #08ce8a;
    --primary-black2: #1c1c57;
}

.SubscribePopups-popup-modal {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.SubscribePopups-popup-modal-content {
    background-color: var(--primary-white);
    backdrop-filter: blur(1px);
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 10px 20px;
    animation: slideInFromTop 0.8s ease-out; 
}

.SubscribePopups-popup-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 22px;
    transition: 0.3s linear;
}

.SubscribePopups-popup-close-btn:hover {
    color: #ff0000;
}

.SubscribePopups-popup-img-box {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.SubscribePopups-popup-img-box img {
    width: 85px;
    height: 85px;
    padding: 15px;
    border-radius: 20px;
    background-color: #cbcdfb;
}

.SubscribePopups-popup-title-box {
    margin-top: 14px;
}

.SubscribePopups-popup-title-box p {
    width: 100%;
    max-width: 400px;
    font-size: 14px;
    color: #6f6f6f;
    margin: 8px auto 30px auto;
}

.SubscribePopups-popup-btn-box {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    max-width: 420px;
}

.SubscribePopups-popup-btn-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 0 9rem 0 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.SubscribePopups-popup-btn-box button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 16px 2rem;
    border-radius: 30px;
    transition: 0.3s linear;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    border: none;
    cursor: pointer;
}

.SubscribePopups-popup-btn-box button:hover {
    box-shadow: 0px 0px 6px #494edd;
}


/* Animation from the top */
@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0.8;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
